.navbar {
    width: 100%;
  }
  
  .navbar-brand {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-dark.bg-primary {
    background-color: #007bff;
    padding: 0.8rem 0;
  }
  